.tableTersewa {
  max-height: 300px; /* Tentukan nilai maksimum ketinggian */
  overflow: auto; /* Tambahkan scroll bar ketika konten melebihi ketinggian maksimum */
}
table {
  border-collapse: collapse;
}

thead {
  font-weight: bold;
  text-align: center;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  text-align: left;
}
select {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

select:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

option {
  background-color: #fff;
  color: #333;
}
