styling for heading h1 {
  font-size: 32px;
  margin-bottom: 24px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type="text"] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 400px;
  font-size: 16px;
}

label {
  font-size: 16px;
}
.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
  max-width: 400px;
}
button[type="submit"] {
  padding: 12px 24px;
  margin-top: 16px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button[type="submit"]:hover {
  background-color: #0d8bf2;
}

table {
  border-collapse: collapse;
  margin: auto;
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
  border-bottom: solid black 1px;
}

th,
td {
  text-align: left;
  padding: 8px 40px;
}

th {
  background-color: #2196f3;
  color: #fff;
}
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
tbody tr:hover {
  background-color: #ddd;
}
.conCheck {
  padding-top: 7%;
  width: 85%;
  margin: auto;
}
.detailOrder {
  position: relative;
  z-index: 1;
  margin-top: 5%;
  right: 22%;
}
.DetailOrder {
  padding-left: 22px;
  position: relative;
  bottom: 5px;
}
.infoCheck {
  margin-top: 5%;
}

.icon {
  color: #0d8bf2;
}

.text {
  color: #6c757d;
}
.card {
  margin-top: 10px;
}
.payButton button {
  margin: 10px 10px;
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.payButton button img {
  width: 80px;
  height: 80px;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-weight: bold;
}

.custom-file-upload:hover {
  background-color: #e8e8e8;
}
#buktiImage img{
  width: 200px;
  height: 200px;
  margin: auto;
}