.containerAbout {
  border-radius: 15px;
  width: 1075px;
  height: 450px;
  margin: 2% auto 0 auto;
  padding-top: 3%;
  background-color: #cbcbcb;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.containerAbout ul {
  width: 70%;
  margin: auto;
}
