#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 75%;
  margin-top: 2%;
}

.slideImg {
  text-align: center;
  font-size: 18px;
  background: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
}
.slideImg:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
