.hove {
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}
.hove:hover {
  box-shadow: 0 -3px 0px white inset, 400px 0 0 rgba(255, 255, 225, 0.03) inset;
  padding: 7px 25px 15px 25px;
}
.Navbarr {
  box-shadow: 10px 10px 1px black;
  padding-top: 2%;
  margin-bottom: 2px;
  position: fixed;
}
