@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1,h2,h3,h4,h5,h6{
  font-family: 'Bebas Neue', cursive;
}
p,li,td,th{
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}
.carSlideSee {
  width: 80%;
  margin: 5% auto;
  justify-content: space-between;
}
.carSlideSee .see {
  height: 40px;
}

/* About */
.containerAbout {
  border-radius: 15px;
  width: 1075px;
  height: 760px;
  margin: 2% auto 0 auto;
  padding-top: 3%;
  background-color: #cbcbcb;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.aboutGroup {
  width: 100%;
}

.aboutGroup ul li {
  text-align: center;
  width: 70%;
  padding: 5% 2%;
  margin: 0 auto;
  height: 300px;
}
.aboutGroup .aboutImgCar {
  padding-top: 13%;
  padding-right: 10px;
  transition: all 0.6s ease;
}
.aboutGroup .aboutImgCar:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
/* About */

/* maps */
.right img {
  width: 60%;
  height: 60%;
  border-radius: 15px;
  margin-top:100px ;
  margin-left: 80px;
  cursor: pointer;
}
.containerMap {
  border-radius: 15px;
  margin: 10% auto 0 auto;
  height: 560px;
  width: 1075px;
  background-color: #848383;
  display: flex;
  transition: 0.9s ease-out;
  -webkit-transition: 0.9s ease-out;
  -moz-transition: 0.9s ease-out;
  -ms-transition: 0.9s ease-out;
  -o-transition: 0.9s ease-out;
}
.containerMap .left {
  width: 40%;
  height: 28rem;
  background-color: #b7abc7;
  margin: 5%;
  border-radius: 20px;
}
.containerMap .left p {
  margin: 25% 4%;
  font-size: 15px;
}
.containerMap .right {
  margin-top: 3.2rem;
  margin-right: 2rem;
}
/*  */
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 75%;
  margin-top: 2%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
}
.swiper-slide:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
