.mainCon{
  background-image: url('https://blog-media.lifepal.co.id/app/uploads/sites/3/2021/08/24102415/mobil-keren-768x480.jpg'); /* Ganti dengan URL gambar latar belakang yang sesuai */
  background-size: cover;
  background-position: center;
  max-height: 360px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.FaqContainer {
    max-width: 800px;
    margin: 40px auto 0 auto ;
    margin-top: 100px;
    padding-top: -20px;
  }
  
  /* Gaya untuk judul pertanyaan */
  .FaqAcor__title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  /* Gaya untuk konten pertanyaan */
  .FaqAcor__content {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-bottom: 10px;
  }
  
  .FaqAcor__content--active {
    display: block;
  }

  .FaqAcor__title:hover {
    color: #f00; 
  }

  .FaqAcor__content {
    transition: all 0.3s ease;
  }
  
  .FaqAcor__content--active {
    max-height: 500px;
    overflow: hidden;
    transition: all 0.3s ease;
  }