/* Syarat */
.bodySk {
  background-color: rgb(71, 7, 7);
  width: 100%;
  height: 100%;
}
body {
  background-color: #b7abc7;
}
.containerSyarat {
  margin: 5% auto 0 auto;
  border-radius: 15px;
  width: 1075px;
  padding: 5% 0;
  text-align: center;
  margin-top: 8%;
  background-color: #b7abc7;
}

.containerSyarat .jaminanRent {
  margin-top: 2%;
}
.layoutSK {
  margin: 8% auto 0 auto;
  width: 100%;
  background-color: #cec8d5;
  display: flex;
}
.layoutSK h3 {
  padding-top: 150px;
  padding: 110px 70px 15px 70px;
}
.layoutSK img {
  margin-right: 60px;
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
}
